<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../../includes/nav.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST">
            <div class="form-control">
                <label for="firstName">First name</label>
                <input 
                  class="<%= validationErrors.find(e => e.param === 'firstName') ? 'invalid' : '' %>"
                  type="text" 
                  name="firstName" 
                  id="firstName" 
                  value="<%= oldInput.firstName %>"
                  autofocus>
            </div>
            <div class="form-control">
                <label for="lastName">Last name</label>
                <input 
                  class="<%= validationErrors.find(e => e.param === 'lastName') ? 'invalid' : '' %>"
                  type="text" 
                  name="lastName" 
                  id="lastName"
                  value="<%= oldInput.lastName %>">
            </div>
            <div class="form-control">
                <label for="favFood">Favorite food</label>
                <input 
                  class="<%= validationErrors.find(e => e.param === 'favFood') ? 'invalid' : '' %>"
                  type="text" 
                  name="favFood" 
                  id="favFood"
                  value="<%= oldInput.favFood %>">
            </div>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input 
                  class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                  type="email" 
                  name="email" 
                  id="email" 
                  autocomplete= "email"
                  value="<%= oldInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input 
                  class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                  type="password" 
                  name="password" 
                  id="password" 
                  autocomplete="new-password"
                  value="<%= oldInput.password %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input 
                  class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>"
                  type="password" 
                  name="confirmPassword" 
                  id="confirmPassword" 
                  autocomplete="new-password"
                  value="<%= oldInput.confirmPassword %>">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>
<%- include('../../includes/end.ejs') %>