<%- include('../../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

    <body>
        <%- include('../../includes/nav.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <div class="cart__title">
                      <h1 style="display: inline;">Your Shopping Cart</h1>
                      <h2 style="display: inline;">Subtotal: $ <%= subtotal %></h2>
                    </div>
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <div>
                              <img class="float" src="<%= p.productId.imageUrl %>" alt="product img">
                              <h1><a href="/products/<%= p.productId._id %>"><%= p.productId.title %></a></h1>
                            </div>
                            <div>
                              <form action="/cart" method="post">
                                <h2>Quantity: </h2>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn" type="submit">+</button>
                                <h2><%= p.quantity %></h2>
                                <input type="hidden" name="productId" value="<%= p.productId._id %>">
                              </form>
                              <form action="/cart-decrement-item" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn" type="submit" style="min-width: 1.1rem;">-</button>
                                <input type="hidden" name="productId" value="<%= p.productId._id %>">
                              </form>
                            </div>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <form action="/create-order" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <a class="btn" href="/">Back to Shop</a>
                        <input type="hidden" value="<%= subtotal %>" name="subtotal">
                        <button type="submit" class="btn">Purchase</button>
                    </form>
                </div>
            <% } else { %>
                <h1 class="centered">Your cart is empty</h1>
                <a class="btn" href="/">Start Shopping</a>
            <% } %>
        </main>
        <%- include('../../includes/end.ejs') %>